.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 88px;
    background-image: linear-gradient(90deg, #6F67E7 0%, #34A9D9 99%);
}

.company {
    display: flex;
    width: 150px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.company__logo {

}

.company__name {
    font-family: Helvetica, serif;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 20px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.menu__item {
    opacity: 0.64;
    font-family: Helvetica, serif;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
}

.menu__item:hover {
    font-family: Helvetica, serif;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 20px;
    opacity: 1;
}

.main {
    display: flex;
    flex-direction: row;
}

.navigation-container {
    display: flex;
    width: 27%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 5vh;
}

.navigation-container__role-link {
    width: 80px;
    margin-top: 15px;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    color: #4A90E2;
    line-height: 20px;
    text-decoration: none;
}

.main-container {
    padding: 5vh;
    width: 73%;
}

.footer {

}
