<!--The content below is only a placeholder and can be replaced.-->
<header class="header">
	<div class="company">
		<img class="company__logo" src="../assets/company-logo.svg" alt="">
		<span class="company__name">{{ companyName }}</span>
	</div>
	<div class="menu">
		<a *ngIf="!isLogged" class="menu__item" (click)="logIn()">
			<span>Log In</span>
		</a>
		<a *ngIf="isLogged" class="menu__item" (click)="logOut()">
			<span class="menu__item">Log out</span>
		</a>
	</div>
</header>
<main class="main">
	<div class="navigation-container">
		<a *ngIf="isHomeRoute() && isLogged" class="navigation-container__role-link" [routerLink]="['/role']">Go to role ></a>
		<a *ngIf="!isHomeRoute()" class="navigation-container__role-link" [routerLink]="['/home']">< Go home</a>
	</div>
	<div class="main-container">
		<router-outlet></router-outlet>
	</div>
</main>
