.product-container {
  width: 240px;
  background: #FFFFFF;
  box-shadow: 0 24px 32px 0 rgba(44, 100, 131, 0.08);
  border-radius: 8px;
  margin: 15px;
}

.image-container {
  width: 240px;
  height: 240px;
}

.image-container__image {
  border-radius: 8px 8px 0 0;
  max-width: 100%;
  max-height: 100%;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - 240px);
  flex-direction: column;
  justify-content: space-between;
  padding: 17px;
  font-family: Helvetica, serif;
}

.description-container__title {
  margin-bottom: 5px;
  font-size: 16px;
  color: #545960;
}

.description-container__description {
  font-size: 12px;
  color: #9B9C9E;
}
