<div class="product-container">
  <div class="image-container">
    <img class="image-container__image" [src]="product.img" alt="" />
  </div>
  <div class="description-container">
    <span class="description-container__title">{{ product.title }}</span>
    <span class="description-container__description">{{
      product.description
    }}</span>
  </div>
</div>
